/* P reset */
@import 'preset.css';

/* S etup */
@import 'setup.css';

/* S setings */
@import 'settings.css';
@import 'developer-styles.css';

/* S tructure */
@import 'structure.css';

/* T ypography */
@import 'typography.css';

/* C omponents */
@import 'animation.css';
@import 'components.css';
@import 'forms.css';

/* S tuff (modules) */
@import 'modules.css';

/* S ections and more stuff */

/* then other contextual styles */
body {
	background-color: var(--paper);
	background-image: url("../images/wall-bg.jpg");
	background-position: center center;
	background-size: cover;
	background-blend-mode: darken;

	overflow-x: hidden;

	padding-bottom: 250px;
	cursor: url("../images/neon-cursor.cur"), auto;
}


.hide {
	display: none !important;
}

